 # dependency list
# Core Dependencies (Essential for runtime)
# Development Dependencies (For coding/testing)

# === CORE ===
ttkbootstrap==1.10.1

# === DEV ===
black==23.9.1
pylint==2.17.4
pytest==7.4.2

# === FUTURE ===
# bcrypt==4.0.1
# paramiko==3.3.1
# psutil==5.9.5

subprocess
login
subprocess 
os platform
